{% extends 'base.html' %}

{% block title %}
    Products
{% endblock  %}

{% block content %}
    <h1>Order Page</h1>
    <p>This is the order page.</p>

  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    
    {% for products in products %}
    <tbody>
      <tr>
        <td>{{products.id}}</td>
        <td>{{products.name}}</td>
        <td>{{products.currency}}{{products.price}}</td>
        <td>{{products.description}}</td>
        <td>
          <button class="btn btn-sm btn-outline-secondary">More Info</button>
          <button class="btn btn-sm btn-outline-secondary">Purchase</button>
        </td>
      </tr>
    </tbody>
    {% endfor %}

  </table>

{% endblock  %}