{% extends 'base.html' %}

{% block title %}
   register page
{% endblock  %}

{% block content %}
<div class="wrapper">
        <div class="logo">
            <img src="{{url_for('static', filename='img/cvc-logo.svg')}}" alt="Logo">
        </div>
        <div class="text-center mt-4 name">
            We are excieted to have you here!
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="userName" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-envelope-o"></span>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Confirm Password">
            </div>
            <button class="btn mt-3">Register</button>
        </form>
        <div class="text-center fs-6">
            <a href="{{url_for('login_page')}}">Already have account?</a>
        </div>
    </div>
{% endblock %}