{% extends 'base.html' %}

{% block title %}
    home page
{% endblock  %}

{% block content %}
<!-- landing section -->

<div class="col-lg-12 px-4 pt-5 mt-5">
  <div class="row flex-lg-row-reverse g-5 py-0 d-flex flex-sm-wrap align-items-center justify-content-center">
    
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img src="{{url_for('static', filename='img/landing_page.webp')}}" 
        class="d-block mx-lg-auto img-fluid button-float" 
        alt="LANDING-IMG" 
        width="700" height="500" 
        loading="lazy"
    ></div>
    <div class="col-lg-6 flex-sm-wrap flex-md-wrap align-items-center justify-content-center px-5">
      <h1 class="display-3 fw-bold my-4 lh-base lead text-end">
        Explore elite<span class="" style="color: #fab216"> Branding</span>,
        <span class="" style="color: #ed3162">Graphics design,</span>
        <span class="" style="color: #45bbeb"> Web Solutions</span>, and more with us
      </h1>
      <p class="lead my-2 text-end">
        In just one year since its founding in 2021, Colorful 
        Visual Communication has ignited creativity, empowered brands, and 
        innovated through dynamic design, web solutions, and seamless networking.
      </p>
      <button type="button" class="btn cta-btn button-float" >
        <b class="display-7 fw-bold my-3 text-center lead">Start your experience now</b>
        <i class="fa-solid fa-terminal fa-lg arrow cta-i" aria-hidden="true"></i
      ></button>
    </div>
  </div>
</div>
<!-- landing section-end -->

<div id="scroll-down-animation">
  <span class="mouse">
    <span class="move"></span>
  </span>
  <h4 class="p-3 mt-2 text-center" style="color: #45bbeb">Scroll down</h4>
</div>

<!-- partners logo carousel  -->
<div class="container-fluid fadein ">
  <p class="lead my-2 font-weight-light px-5" style="color: #999">_OUR PARTNERS</p>
  <div class="row">
    <div class="col-lg-3 px-4 py-5 my-5">
    </div>
    <div class="col-lg-6 mb-4 ">
      <h1 class="display-5 fw-bold my-5 mb-4 text-start lead">
        <span class="display-3 fw-bold my-4 lh-base lead "
          style="color: #ed3162">
          Trusted By</span
        ></br> The Kenya’s Leading Companies & Startups
      </h1>
      <p class="lead text-start">
        Discover the strength of partnerships as we collaborate with Kenya's leading companies and startups, building a network of trust that fuels innovation and success in our dynamic ecosystem.
      </p>
      <hr class="w-50 mx-auto my-5 mb-xl-9 border-dark-subtle">
    </div>
    <div class="col-lg-3 mb-4">
    </div>
  </div>
  <section class="customer-logos slider my-5 py-3">
    <div class="slide">
      <img src="{{url_for('static', filename='svg/flashtech.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="300px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/ewa.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/gdsolar.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/tripstars.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/rt-sys.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/rockledge.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/drivate.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/gemalocs.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/borah.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/cvc.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
    <div class="slide">
      <img src="{{url_for('static', filename='svg/encomia.svg')}}" 
        class="d-block mx-lg-auto img-fluid" 
        alt="LANDING-IMG" 
        width="200px" height="" 
        loading="lazy"
    ></div>
  </section>
</div>
<!-- partners logo carousel-end  -->

<!-- portfolio -->
<div class="row fadein">
  <p class="lead my-2 font-weight-light px-5" style="color: #999">_OUR WORK</p>
  <div class="row">
    <div class="col-lg-3 px-4 py-5 my-5">
    </div>
    <div class="col-lg-6 mb-4 ">
      <h1 class="display-5 fw-bold my-5 mb-4 text-start lead">
        <span class="display-3 fw-bold my-4 lh-base lead "
          style="color: #fab216">
        Explore</span
        ></br> _Our Recent Work
      </h1>
      <p class="lead text-center">
        Discover the power of our creativity in a glance—where every design tells a story 
      of innovation and distinction.
      </p>
      <hr class="w-50 mx-auto my-5 mb-xl-9 border-dark-subtle">
    </div>
    <div class="col-lg-3 mb-4">
    </div>
  </div>
  <div class="col-lg-3 mb-4 mb-lg-0">
    <div class="content content-lg fadein">
      <a href="#">
        <div class="content-overlay content-overlay-lg"></div>
        <img src="{{url_for('static', filename='img/black-brand.png')}}"
          class="w-100 shadow rounded mb-4 portf-img"
          alt=""
        />
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Black</h3>
          <p class="content-text">Case Study<i class="fa-solid fa-terminal fa-lg arrow"></i></p>
        </div>
      </a>
    </div>
    <div class="content content-sm fadein">
      <a href="#">
        <div class="content-overlay content-overlay-sm"></div>
        <img src="{{url_for('static', filename='img/cvc-logo-m.png')}}"
          class="w-100 shadow rounded mb-4 portf-img"
          alt=""
        />
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Colourful Visual Communication</h3>
          <p class="content-text">Case Study<i class="fa-solid fa-terminal fa-lg arrow"></i></p>
        </div>
      </a>
    </div>
  </div>
    
  <div class="col-lg-3 mb-4 mb-lg-0">
    <div class="content content-sm fadein">
      <a href="#">
        <div class="content-overlay content-overlay-sm"></div>
        <img src="{{url_for('static', filename='img/drivate-l-m.png')}}"
          class="w-100 shadow rounded mb-4 portf-img"
          alt=""
        />
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Drivate</h3>
          <p class="content-text">Case Study<i class="fa-solid fa-terminal fa-lg arrow"></i></p>
        </div>
      </a>
    </div>
    <div class="content content-lg fadein">
      <a href="#">
        <div class="content-overlay content-overlay-lg"></div>
        <img src="{{url_for('static', filename='img/port-rollupbanner.png')}}"
          class="w-100 shadow rounded mb-4 portf-img"
          alt=""
        />
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">RT-Smart Water Leakage Detection System</h3>
          <p class="content-text">Case Study<i class="fa-solid fa-terminal fa-lg arrow"></i></p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-3 mb-4 mb-lg-0">
    <div class="content content-lg fadin">
      <a href="#">
        <div class="content-overlay content-overlay-lg"></div>
        <img src="{{url_for('static', filename='img/poster_wall_m.png')}}"
          class="w-100 shadow rounded mb-4 portf-img"
          alt=""
        />
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Flashtech</h3>
          <p class="content-text">Case Study<i class="fa-solid fa-terminal fa-lg arrow"></i></p>
        </div>
      </a>
    </div>
    <div class="content content-sm fadein">
      <a href="#">
        <div class="content-overlay content-overlay-sm"></div>
        <img src="{{url_for('static', filename='img/gemalocs.png')}}"
          class="w-100 shadow rounded mb-4 portf-img"
          alt=""
        />
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Gemalocs</h3>
          <p class="content-text">Case Study<i class="fa-solid fa-terminal fa-lg arrow"></i></p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-3 mb-4 mb-lg-0">
    <div class="content content-sm fadein">
      <a href="#">
        <div class="content-overlay content-overlay-sm"></div>
        <img src="{{url_for('static', filename='img/GDS-brochure-f-m.png')}}"
          class="w-100 shadow rounded mb-4 portf-img"
          alt=""
        />
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">GreatDeal Solar</h3>
          <p class="content-text">Case Study<i class="fa-solid fa-terminal fa-lg arrow"></i></p>
        </div>
      </a>
    </div>
    <div class="content content-lg fadein">
      <a href="#">
        <div class="content-overlay content-overlay-lg"></div>
        <img src="{{url_for('static', filename='img/EWA-brochure-m.png')}}"
          class="w-100 shadow rounded mb-4 portf-img"
          alt=""
        />
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Elite Waves Academy</h3>
          <p class="content-text">Case Study<i class="fa-solid fa-terminal fa-lg arrow"></i></p>
        </div>
      </a>
    </div>
  </div>
    
</div>
<!-- portfolio -->

<!-- team -->
<div class="sectn fadein" id="team" class="pb-5">
  <p class="lead my-2 font-weight-light text-end px-5" style="color: #999">_OUR TEAM</p>
  <div class="row">
    <div class="col-lg-3 px-4 py-5 my-5">
    </div>
    <div class="col-lg-6 mb-4 ">
      <h1 class="display-5 fw-bold my-5 mb-4 text-end lead">
        <span class="display-3 fw-bold my-4 lh-base lead text-end "
          style="color: #45bbeb">
        We are </span
        ></br> Creative People with Big Dreams
      </h1>
      <p class="lead text-end">
        We are a group of innovative, experienced, and proficient teams. You will love to 
        collaborate with us.
      </p>
      <hr class="w-50 mx-auto my-5 mb-xl-9 border-dark-subtle">
    </div>
    <div class="col-lg-3 mb-4">
    </div>
  </div>

  <div class="container">
    <div class="row">
    <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4 fadein">
        <div class="image-flip" >
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" 
                      src="{{url_for('static', filename='img/steve-pp.png')}}"  
                      alt="card image"
                  ></p>
                  <h4 class="card-title">Njoroge Stephen</h4>
                  <p class="card-text">
                    Founder & CEO
                  </p>
                  <a href="https://www.fiverr.com/share/qb8D02" 
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Njoroge Stephen</h4>
                  <p class="card-text">Full Stack Developer | Graphics Designer | Founder @ColorfulVisualCommunication | Tech, Design, and Innovation Enthusiast | AI & Robotics Explorer
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-facebook"></i
                                ></a>
                            </li>
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-twitter"></i
                                ></a>
                            </li>
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-skype"></i
                                ></a>
                            </li>
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-google"></i
                                ></a>
                            </li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    <!-- Team member-end -->

    <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4 fadein">
        <div class="image-flip" >
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" 
                      src="{{url_for('static', filename='img/steve-pp.png')}}"  
                      alt="card image"
                  ></p>
                  <h4 class="card-title">Njoroge Stephen</h4>
                  <p class="card-text">
                    Founder & CEO
                  </p>
                  <a href="https://www.fiverr.com/share/qb8D02" 
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Njoroge Stephen</h4>
                  <p class="card-text">Full Stack Developer | Graphics Designer | Founder @ColorfulVisualCommunication | Tech, Design, and Innovation Enthusiast | AI & Robotics Explorer
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-facebook"></i
                                ></a>
                            </li>
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-twitter"></i
                                ></a>
                            </li>
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-skype"></i
                                ></a>
                            </li>
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-google"></i
                                ></a>
                            </li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    <!-- Team member-end -->
   
    <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4 fadein">
        <div class="image-flip" >
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" 
                      src="{{url_for('static', filename='img/steve-pp.png')}}"  
                      alt="card image"
                  ></p>
                  <h4 class="card-title">Njoroge Stephen</h4>
                  <p class="card-text">
                    Founder & CEO
                  </p>
                  <a href="https://www.fiverr.com/share/qb8D02" 
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Njoroge Stephen</h4>
                  <p class="card-text">Full Stack Developer | Graphics Designer | Founder @ColorfulVisualCommunication | Tech, Design, and Innovation Enthusiast | AI & Robotics Explorer
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-facebook"></i
                                ></a>
                            </li>
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-twitter"></i
                                ></a>
                            </li>
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-skype"></i
                                ></a>
                            </li>
                    <li class="list-inline-item">
                                <a class="social-icon text-xs-center" 
                                  target="_blank" 
                                  href="https://www.fiverr.com/share/qb8D02"
                                  ><i class="fa fa-google"></i
                                ></a>
                            </li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    <!-- Team member-end -->
 
    </div>
  </div>
</div>
<!-- team-end -->
      
<!--  getintouch  -->
<div class="bg-body-primary mt-3 pt-3 pb-4 fadein" data-bs-theme="light">
  <!-- Section: Text -->
  <p class="lead my-2 font-weight-light text-end px-5" style="color: #999">_CONTACT US</p>
  <div class="row">
    <div class="col-lg-3 px-4 py-5 my-5">
    </div>
    <div class="col-lg-6 mb-2 ">
      <h1 class="display-5 fw-bold my-5 mb-4 text-start lead">
        <span class="display-3 fw-bold my-4 lh-base lead text-start "
          style="color: #fab216">
          _Let's</span
        ></br> Shape Your Vision Together
      </h1>
      <p class="lead text-start">
        Ready to transform your vision into reality? Reach out to 
        us—to kickstart a collaborative journey where innovation 
        meets excellence. Let's bring your ideas to life!
      </p>
      <hr class="w-50 mx-auto my-5 mb-xl-9 border-dark-subtle">
    </div>
    
    <div class="col-lg-3 mb-4">
    </div>
  </div>
  <!-- Section: Text -->

  <!-- Section: Form -->
  <div class=" bg-img container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <form id="contact-form" name="myForm" class="form" action="#" onsubmit="return validateForm()" method="POST" role="form">

                <div class="form-group shadow-sm">
                    <label class="form-label" id="nameLabel" for="name"></label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1">
                </div>

                <div class="form-group shadow-sm">
                    <label class="form-label" id="emailLabel" for="email"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2">
                </div>

                <div class="form-group shadow-sm">
                    <label class="form-label" id="subjectLabel" for="sublect"></label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
                </div>

                <div class="form-group shadow-sm">
                    <label class="form-label" id="messageLabel" for="message"></label>
                    <textarea rows="6" cols="60" name="message" class="form-control" id="message" placeholder="Your message" tabindex="4"></textarea>                                 
                </div>

                <div class="text-center my-4">
                    <button type="submit" class="btn btn-mod btn-border btn-large">Send Message</button>
                </div>

            </form><!-- End form -->

        </div><!-- End col -->

    </div><!-- End row -->

  </div><!-- End container -->

  <!-- Section: Form -->
  <!-- Section: Links -->
</div>
<!--  getintouch-end  -->
{% endblock %}