{% extends 'base.html' %}

{% block title %}
    Products
{% endblock  %}

{% block content %}
<div class="my-5 pt-5">
  <p class="lead my-2 font-weight-light text-start px-5 mt-5" style="color: #999">_OUR SERVICES</p>
  <div class="row">
    <div class="col-lg-1 px-4 py-5 my-5">
    </div>
    <div class="col-lg-5 mb-4 ">
      <h1 class="display-5 fw-bold my-5 mb-4 text-end lead">
        We are a
        <span class="display-3 fw-bold my-4 lh-base lead text-end "
          style="color: #45bbeb">
          Full-Service </span
        ></br>Digital Agency
      </h1>
      <p class="lead text-end">
        Colourful Visual Communication provides a comprehensive range of services, including: 
      </p>
      <hr class="w-50 mx-auto my-5 mb-xl-9 border-dark-subtle">
      <ul class="lead text-end" dir="rtl" style="list-style-type:disc;">
        <li>Web app design</li>
        <li>Corporate identity development</li>
        <li>Digital marketing</li>
        <li>Mobile solutions</li>
        <li>Brand positioning</li>
      </ul>
      
    </div>
    <div class="col-5">
        <img src="{{url_for('static', filename='icons/ui-ux.png')}}" 
          class="d-block mx-lg-auto img-fluid" 
          alt="LANDING-IMG" 
          width="100%" 
          loading="lazy"
    ></div>
    <div class="col-1">
      
    </div>
  </div>
</div>
<div class="">
  <p class="lead my-2 font-weight-light text-end px-5 mt-5" style="color: #999">_set to Brand you.</p>
  <div class="row">
    <div class="col-lg-1 px-4 py-5 my-5">
    </div>
    
    <div class="col-lg-4 mb-4 ">
      <h1 class="display-5 fw-bold my-5 mb-4 text-start lead">
        <span class="display-3 fw-bold my-4 lh-base lead text-start "
          style="color: #ed3162">
          Brand</span
        ></br>Identity
      </h1>
      <p class="lead fw-bold text-start">A brand is more than just a logo and color palette.</p>
      <p class="lead text-start">
        Discover the perfect logo and brand name for a memorable brand identity with Colourful Visual Communication. Our experts design logos for national and regional brands, ensuring resonance with consumers. Elevate your business with our dynamic Brand Identity Packages, featuring a distinctive logo, harmonious color palettes, captivating typography, and comprehensive brand guidelines. Immerse yourself in the power of a visually stunning brand identity that speaks volumes about your professionalism and commitment to excellence
      </p>
      <hr class="w-50 mx-auto my-5 mb-xl-9 border-dark-subtle">
      
    </div>
    <div class="col-lg-3 d-flex align-items-center">
        <img src="{{url_for('static', filename='icons/logo-design.svg')}}" 
          class="d-block mx-lg-auto img-fluid" 
          alt="LANDING-IMG" 
          width="100%"
          loading="lazy"
    ></div>
    <div class="col-3 pe-5 my-5 mb-4 border-end">
      <p class="lead text-end mt-5 pt-5">What we can help you with:</p>
      <ul class="lead text-end" dir="rtl" style="list-style-type:disc;">
        <li>Brand Identity Development</li>
        <li>Logo Creation</li>
        <li>Graphic Design</li>
        <li>Corporate Stationery</li>
        <li>Package Design</li>
      </ul>
      <div class="d-flex justify-content-end mt-5">
        <a href="" class="btn btn-mod btn-border btn-large button-float my-5">Get Started</a>
      </div>
    </div>
    <div class="col-lg-1 col-sm-0"></div>
  </div>
</div>
<div class="">
  <p class="lead my-2 font-weight-light text-start px-5 mt-5" style="color: #999">_set to Brand you.</p>
  <div class="row">
    <div class="col-lg-1 px-4 py-5 my-5">
    </div>
    <div class="col-3 pe-5 my-5 mb-4 border-start">
      <p class="lead text-start mt-5 pt-5">What we can help you with:</p>
      <ul class="lead text-start" style="list-style-type:disc;">
        <li>Product & Service Websites</li>
        <li>eCommerce Sites</li>
        <li>Intranets & Web Portals</li>
        <li>UX Design</li>
        <li>Front and Back-end Development</li>
      </ul>
      <div class="d-flex justify-content-end mt-5">
        <a href="" class="btn btn-mod btn-border btn-large button-float my-5">Get Started</a>
      </div>
    </div>
    <div class="col-lg-3 d-flex align-items-center">
        <img src="{{url_for('static', filename='icons/web-design.svg')}}" 
          class="d-block mx-lg-auto img-fluid" 
          alt="LANDING-IMG" 
          width="100%"
          loading="lazy"
    ></div>
    <div class="col-lg-4 mb-4 ">
      <h1 class="display-5 fw-bold my-5 mb-4 text-start lead">
        <span class="display-3 fw-bold my-4 lh-base lead text-start "
          style="color: #45bbeb">
          Web</span
        ></br>Design
      </h1>
      <p class="lead fw-bold text-start">Designing a website means creating a user journey end to end.</p>
      <p class="lead text-start">
        Our web and mobile app developers are committed to achieving visual and performance excellence. From the backend to the frontend, we prioritize delivering a seamless and enjoyable user experience on all devices.
      </p>
      <hr class="w-50 mx-auto my-5 mb-xl-9 border-dark-subtle">

    </div>
    
    
    <div class="col-lg-1 col-sm-0"></div>
  </div>
</div>
<div class=" pb-5">
  <p class="lead my-2 font-weight-light text-end px-5 mt-5" style="color: #999">_set to Brand you.</p>
  <div class="row">
    <div class="col-lg-1 px-4 py-5 my-5">
    </div>

    <div class="col-lg-4 mb-4 ">
      <h1 id="digi-markt" class="display-5 fw-bold my-5 mb-4 text-start lead">
        <span class="display-3 fw-bold my-4 lh-base lead text-start "
          style="color: #fab216">
          Digital</span
        ></br>Marketing
      </h1>
      <p class="lead fw-bold text-start">Embrace Digital Marketing: Key to Competitive Success</p>
      <p class="lead text-start">
        In today's competitive market landscape, integrating digital advertising is essential for a successful business campaign to maintain competitiveness.
      </p>
      <hr class="w-50 mx-auto my-5 mb-xl-9 border-dark-subtle">

    </div>
    <div class="col-lg-3 d-flex align-items-center">
        <img src="{{url_for('static', filename='icons/strategy.png')}}" 
          class="d-block mx-lg-auto img-fluid" 
          alt="strategy.png" 
          width="100%"
          loading="lazy"
    ></div>
    <div class="col-3 pe-5 my-5 mb-4 border-end">
      <p class="lead text-end mt-5 pt-5">What we can help you with:</p>
      <ul class="lead text-end" dir="rtl" style="list-style-type:disc;">
        <li>Social Media Marketing</li>
        <li>Content Marketing</li>
       
      </ul>
      <div class="d-flex justify-content-end mt-5">
        <a href="" class="btn btn-mod btn-border btn-large button-float my-5">Get Started</a>
      </div>
    </div>
    <div class="col-lg-1 col-sm-0"></div>
  </div>
</div>
  <!--table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    
    {% for products in products %}
    <tbody>
      <tr>
        <td>{{products.id}}</td>
        <td>{{products.name}}</td>
        <td>{{products.currency}}{{products.price}}</td>
        <td>{{products.description}}</td>
        <td>
          <button class="btn btn-sm btn-outline-secondary">More Info</button>
          <button class="btn btn-sm btn-outline-secondary">Purchase</button>
        </td>
      </tr>
    </tbody>
    {% endfor %}

</table-->

{% endblock  %}