{% extends 'base.html' %}

{% block title %}
    Products
{% endblock  %}

{% block content %}
    <h1>Order Page</h1>
    <p>This is the order page.</p>

<div class="container">
  <h2 class="text-center text-bold">Bootstrap Div Hover Effect</h2>
        <div class="starter-template">
            <div class="row">
                <div class="col-sm-4">
                    <section class="hover-div">
                      <img src="{{url_for('static', filename='img/landing_page.webp')}}" 
                        class="d-block mx-lg-auto img-fluid" 
                        alt="LANDING-IMG" 
                        width="100%" 
                        loading="lazy"
                      >
                        <div class="hover-div_inner">
                            <h3>Logo Design</h3>
                            <p class="text-center">Transform your brand with our Logo Design service, combining artistry and strategy for a unique...</p>
                            <div class="hover-div-lower">
                               <a href="#" class="btn btn-primary">Get Started</a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="hover-div"> <img src="https://seeklogo.com/images/M/Mac_OS-logo-EBD2AA67B3-seeklogo.com.png" width="100">
                        <div class="hover-div_inner">
                            <h3><a href="#">Mac</a></h3>
                            <p class="text-center">The family of Macintosh operating systems developed by Apple Inc. includes the graphical user interface-based operating systems..</p>
                            <div class="hover-div-lower">
                              <a href="#" class="btn btn-primary">Get Started</a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="hover-div"> <img src="http://linux4u.jinr.ru/usoft/WWW/www_eit.com/kevinh/art/linux/logo.penguin/linux_logo_2gp.jpg" width="80">
                        <div class="hover-div_inner">
                            <h3><a href="#">Linux</a></h3>
                            <p class="text-center">Linux is a name that broadly denotes a family of free and open-source software operating systems built around the Linux kernel. </p>
                            <div class="hover-div-lower">
                                <div class="col-xs-6 text-left"><span class="lower-text">Linux Mint</span></div>
                                <div class="col-xs-6 text-right"><span class="lower-text">openSUSE</span></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


  <div class="row">
    <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <img src="{{url_for('static', filename='img/landing_page.webp')}}" 
          class="d-block mx-lg-auto img-fluid" 
          alt="LANDING-IMG" 
          width="100%" 
          loading="lazy"
        >
        <div class="card-body">
          <h3 class="card-title">Logo Design</h3>
          <p class="card-text"> and impactful emblem. Invest in distinction and stand out in the digital landscape with a logo that resonates with your vision.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>

    
    
  </div>

  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    
    {% for products in products %}
    <tbody>
      <tr>
        <td>{{products.id}}</td>
        <td>{{products.name}}</td>
        <td>{{products.currency}}{{products.price}}</td>
        <td>{{products.description}}</td>
        <td>
          <button class="btn btn-sm btn-outline-secondary">More Info</button>
          <button class="btn btn-sm btn-outline-secondary">Purchase</button>
        </td>
      </tr>
    </tbody>
    {% endfor %}

  </table>

{% endblock  %}